{% extends "template_shop.html" %}

{% block title %}OnShop куртки{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Модель</th>
                <th>Размер</th>
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            {% for item in jackets_lst %}
            <tr>
                <td>{{ item['model'] }}</td>
                <td>{{ item['size'] }}</td>
                <td>{{ item['price'] }} рублей</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}