<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/style.css">

    <title>
        {% block title %}
        {Шаблон интернет магазина}
        {% endblock %}
    </title>
</head>
<body>
    <header>
        <h1>Интернет-магазин</h1>
        <h4>Приветствуем в магазине OnShop! Bыберете категорию интересующих вас товаров.</h4>
        <nav>
            <ul>
                <li><a href="shoes">Обувь</a></li>
                <li><a href="trousers">Штаны</a></li>
                <li><a href="jackets">Куртки</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <div class="row fixed-bottom modal-footer">
        <hr>
        <p>Для заполнения новoстями, рекламой и прочей информацией.</p>
        <p>Все права защищены &copy;</p>
    </div>
</div>
</body>

</html>
